doctype html

// LIST VIEW
table.simple.list-view
    thead
        tr
            th
            th(translate='WARNING.NAME') Name
            th(hide, show-gt-sm, translate='WARNING.TYPE') Type
            th(hide-xs, translate='WARNING.OWNER') Owner
            th(hide-xs, translate='WARNING.SIZE') Size
            th(hide, show-gt-md, translate='WARNING.LAST_MODIFIED') Last Modified
            th(hide-gt-md)
    tbody
        tr(
            ng-repeat='folder in vm.folders | filter:global.search | filter:vm.search'
            ng-click='vm.select(folder)'
            ng-class="{'selected' : vm.selected === folder}"
        )
            td.file-icon
                i.icon-folder
            td.name {{folder.name}}
            td.type(hide, show-gt-sm) {{folder.type}}
            td.owner(hide-xs) {{folder.owner}}
            td.size(hide-xs) {{folder.size === '' ? '-': folder.size | fsize}}
            td.last-modified(hide, show-gt-md) {{folder.modified | date:'mediumDate'}}
            td.show-details(hide-gt-md)
                md-button.md-icon-button.sidenav-toggle(ng-click='vm.toggleDetails(folder)', aria-label='Toggle details sidenav')
                    md-icon(md-font-icon='icon-information-outline')
        tr(
            ng-repeat='warning in vm.warnings | filter:global.search | filter:vm.search'
            ng-click='vm.select(warning)'
            ng-class="{'selected' : vm.selected === warning}"
        )
            td.file-icon
                i(class='icon-{{warning.type}}')
            td.name {{warning.name}}
            td.type(hide, show-gt-sm) {{warning.type}}
            td.owner(hide-xs) {{warning.owner}}
            td.size(hide-xs) {{warning.size === '' ? '-': warning.size | fsize}}
            td.last-modified(hide, show-gt-md) {{warning.modified | date:'mediumDate'}}
            td.show-details(hide-gt-md)
                md-button.md-icon-button.sidenav-toggle(
                    ng-click='vm.toggleDetails(warning)'
                    aria-label='Details'
                    translate
                    translate-attr-aria-label='WARNING.DETAILS'
                )
                    md-icon(md-font-icon='icon-information-outline')
