doctype html

// LIST VIEW
table.simple.list-view
    thead
        tr
            th
            th(translate='WARNING.CHANNEL') Channel
            th(translate='WARNING.LEVEL') Level
            th(hide, show-gt-md, translate='WARNING.START_TIME') Start Time
            th(hide, show-gt-md, translate='WARNING.END_TIME') End Time
            th(translate='WARNING.PRINCIPAL') Principal
            th(translate='WARNING.STATUS') Status
            th(hide-gt-md)
    tbody
        tr(
            ng-repeat='warning in vm.warnings | filter:global.search | filter:vm.search'
            ng-click='vm.select(warning)'
            ng-class="{'selected' : vm.selected === warning}"
        )
            td.level-icon
                .h-15.w-15.ml-35(
                    ng-class="{orange: warning.level==0, red: warning.level==1}"
                )
            td.channel {{warning.channel}}
            td.level {{warning.level}}
            td.start-time(hide, show-gt-md) {{warning.startTime | date:'mediumDate'}}
            td.end-time(hide, show-gt-md) {{warning.endTime | date:'mediumDate'}}
            td.principal(hide-xs) {{warning.principal}}
            td.status(hide-xs) {{warning.status}}
            td.show-details(hide-gt-md)
                md-button.md-icon-button.sidenav-toggle(
                    ng-click="vm.toggleSidenav('warning.sidenav.details')"
                    aria-label='Details'
                    translate
                    translate-attr-aria-label='WARNING.DETAILS'
                )
                    md-icon(md-font-icon='icon-information-outline')
