doctype html

md-dialog.delete-dialog(aria-label='Delete sections')
    md-toolbar.md-accent.md-hue-2
        .md-toolbar-tools(layout='row', layout-align='space-between center')
            span.title(translate='SECTION.DELETE_SECTIONS') Delete Sections
            md-button.md-icon-button(
                ng-click='vm.cancel()'
                aria-label='Close dialog'
                tranlate, translate-aria-label='SECTION.CLOSE_DIALOG'
            )
                md-icon(md-font-icon='icon-close')
    md-dialog-content(ms-scroll)
        div.delete-warn-message.md-title
            md-icon.md-warn(md-font-icon='icon-alert-circle')
            span.md-warn(translate='SECTION.DELETE_WARN_MSG') Do you really want to delete the sections?
        md-list(ng-repeat='section in vm.sections')
            md-list-item
                p.md-subhead {{section.name}}
                md-checkbox.md-secondary(ng-model='section.delete')
    md-dialog-actions(layout='row', layout-align='space-between center')
        div(layout='row', layout-align='start center')
            md-button.send-button.md-accent.md-raised(
                ng-click='vm.cancel()'
                aria-label='Cancel'
                translate='SECTION.CANCEL'
                translate-attr-aria-label='SECTION.CANCEL'
            )
                | CANCEL
        div(layout='row')
            md-button.send-button.md-warn.md-raised(
                ng-click='vm.confirm()'
                aria-label='Confirm'
                translate='SECTION.CONFIRM'
                translate-attr-aria-label='SECTION.CONFIRM'
            )
                | CONFIRM

