doctype html

// SIDENAV HEADER
.header.md-accent-bg(layout='column', layout-align='space-between')
    .toolbar(layout='row', layout-align='end center')
        md-button.md-icon-button(
            ng-disabled='!vm.selected._id'
            ng-click='vm.delete()'
            aria-label='Delete'
            translate, translate-attr-aria-label='WARNING.DELETE'
        )
            md-icon(md-font-icon='icon-delete')
            md-tooltip
                span(translate='WARNING.DELETE') Delete
        md-button.md-icon-button(
            ng-disabled='!vm.selected._id'
            ng-href='{{vm.backend}}/files/download/{{vm.selected._id}}'
            aria-label='Download'
            translate, translate-attr-aria-label='WARNING.DOWNLOAD'
        )
            md-icon(md-font-icon='icon-download')
            md-tooltip
                span(translate='WARNING.DOWNLOAD') Download
        md-button.md-icon-button(
            ng-disabled='!vm.selected._id'
            aria-label='More'
            translate, translate-attr-aria-label='WARNING.MORE'
        )
            md-icon(md-font-icon='icon-dots-vertical')
            md-tooltip
                span(translate='WARNING.MORE') More
    div
        .title {{vm.selected.name}}
        .subtitle.secondary-text
            span(translate='WARNING.EDITED') Edited
            | : {{vm.selected.modified | date:'mediumDate'}}
// SIDENAV CONTENT
md-content.content(flex, ms-scroll)
    .file-details
        .preview.file-icon(layout='row', layout-align='center center')
            i.s48(class='icon-{{vm.selected.type}}')
        md-list.offline-switch
            md-list-item
                p(translate='WARNING.AVAILABLE_OFFLINE') Available Offline
                md-switch.md-secondary(ng-model='vm.selected.offline', aria-label='Toggle offline', translate)
        .title(translate='WARNING.INFO') Info
        table
            tr.type
                th(translate='WARNING.CHANNEL') Channel
                td {{vm.selected.channel}}
            tr.size
                th(translate='WARNING.LEVEL') Level
                td {{vm.selected.level | level}}
            tr.location
                th(translate='WARNING.START_TIME') Start Time
                td {{vm.selected.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
            tr.owner
                th(translate='WARNING.END_TIME') End Time
                td {{vm.selected.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
            tr.modified
                th(translate='WARNING.PRINCIPAL') Principal
                td {{vm.selected.principal}}
            tr.opened
                th(translate='WARNING.STATUS') Status
                td {{vm.selected.status | status}}

//- vim:set sw=4 ts=4 sts=4:
