doctype html

.md-inline-form(name='basicInfo')

    //- PROCESSOR NAME
    md-input-container.md-block
        label(translate='PROCESSOR.NAME') Name
        md-icon(md-font-icon='icon-label')
        input(name='name', type='text', ng-model='vm.processor.name', required)

    //- PROCESSOR DESC
    md-input-container.md-block
        label(translate='PROCESSOR.DESC') Description
        md-icon(md-font-icon='icon-document')
        textarea(
            name='desc'
            ng-model='vm.processor.desc'
            ng-maxlength=200
            md-maxlength='200'
            required
        )

    //- ASSOCIATED BRIDGE INFO
    md-autocomplete(
        required
        flex-gt-sm
        md-min-length=0
        md-no-cache='true'
        md-autocomplete-icon='icon-tag-multiple'
        md-input-name='type'
        md-selected-item='vm.processor.type'
        md-search-text='searchText'
        md-search-text-change='vm.processor.type = searchText'
        md-items='type in vm.searchTypes(searchText)'
        md-item-text='type'
        md-floating-label='{{"PROCESSOR.TYPE" | translate}}'
    )
        md-item-template
            span(md-highlight-text='vm.typeKeyword') {{type}}
        div(
            ng-messages='associatedInfo.associatedBridge.$error'
            ng-if='associatedInfo.associatedBridge.$touched'
        )
            div(ng-message='required') {{'PROCESSOR.ASSOCIATED_BRIDGE.REQUIRED' | translate}}
            div(ng-message='md-require-match') {{'PROCESSOR.ASSOCIATED_BRIDGE.REQUIRED_MATCH' | translate}}

    //- PROCESSOR IMAGE
    div(
        layout-gt-sm='row'
        flow-init='vm.ngFlow.options'
        flow-name='vm.ngFlow.flow'
        flow-files-submitted='vm.upload()'
        flow-file-success='vm.uploadSuccess($file, $message)'
    )

        md-input-container.md-block(flex-gt-sm)
            label(translate='PROCESSOR.IMAGE') Image
            md-icon(md-font-icon='icon-picture')
            input(name='imageName', type='text', ng-model='vm.processor.image.name', disabled, required)

        md-button.md-fab.md-mini(
            flow-btn
            aria-label='Upload image'
            translate-attr-aria-label='PROCESSOR.UPLOAD_IMAGE'
        )
            md-icon(md-font-icon='icon-plus')
            md-tooltip
                span(translate='PROCESSOR.UPLOAD_IMAGE')

